*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
gradle.properties
.kotlin
.idea
.gradle
/DS_Store
.kotlin/
.cxx/
.externalNativeBuild/
*.log
app/data.json
.env.local
.env.development
.env.test
.env.production
.env.staging
*.env
app/google-services.json
